body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #303030;
    animation: changebg 7s infinite alternate linear;

  }

  @keyframes changebg {
    0%{
      background: #231d1d;
    }
    25%{
      background: #0c0b0ca1;
    }
    50%{
      background: #000000;
    }
    75%{
      background:#130f11a1;
    }
    100%{
      background: #2e2c2c;  
    }
  }
  

  .container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    background-color: #414141;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: #555454;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-right: 20px;
    width: 250px;
  }

  .visualization {
    display: flex;
    align-items: flex-end;
    gap: 1px;
    flex-grow: 1;
    max-width: 998px;
    height: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #555454;
    border-radius: 5px;
    overflow: hidden;
  }

  .visualization div {
    flex: 1;
    background-color: #3b94e7;
  }

  select, button, input[type="range"] {
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 14px;
    color: white;
    background-color: #555454;
    cursor: pointer;
  }

  #algorithmSelect {
    text-align: center;
  }

  
.social-icons {
  margin-top: 52px;
  color: #c51212;
}
.social-icons a {
  color: #c57112;
  font-size: 25px;
  text-decoration: none;
  margin: 15px;
  margin-top: 30px;
  margin-left: 60px;
  /* padding: 30px; */
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}
.social-icons a:hover i{

  animation: shake 3s infinite;
}
@keyframes shake {
  10%{
    transform: rotate(30deg);
  }
  20%{
    transform: rotate(-30deg);
  }
  30%{
    transform: rotate(45deg);
  }
  40%{
    transform: rotate(-45deg);    
  }
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}


  @media (max-width: 768px) {
    .container {
      padding: 10px;
      width: 90%;
      flex-direction: column; /* Change direction for smaller screens */
    }
    .sidebar {
      width: 88.25%;
      margin-right: 0;
      margin-bottom: 10px; /* Add some space between sidebar and visualization */
    }
    .visualization {
      width: 100%;
    }
    .container-1{
      width: 100%;
    }
    .social-icons{
      /* width: 100px; */
      display: flex;
      padding: 0;
      margin: 0;
    }
  }

  @media (min-width: 769px) {
    .container {
      gap: 20px;
    }
    .sidebar {
      width: 300px;
    }
    .visualization {
      flex-grow: 1;
    }
}

.container-1{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin-top: 30px; */
}
